
  
  /* Large Screens */
  @media only screen and (min-width: 1440px) {
    .container.menu-container {
        max-width: 100%;
        padding: 10px; 
        display: flex;
        justify-content: space-around;
      }
      
    .anchor-link img {
        height: 200px;
    }
  
    .anchor-link p {
      font-size: 30px;
      margin-top: 10px;
    }
    .text-go-menu p{
        font-size: 40px;
        color: white;
    }


    .menu-title h2{
        margin-top: 50px;
        margin-bottom: 50px;
        font-weight:800;
        font-size: 45px;
    }
    
    .svg-down{
        height: 40px;
        color: white;
    }
    


  }
  
    


/* For most smartphones in portrait mode */
@media only screen and (max-width: 480px) {
     
    .mcLogoSvg{
        height: 30%;
        z-index: 1;
    }
}
